html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #E9EDEE;
}

header{
    background-color:#222F3F ;
}

.imglogo{
    width: 180px;
    padding-left: 2%;
    padding-top: 0.5%;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

.fakelink{
    background-color:#364757 ;
    font-size: 1.5em;
    padding: 0.5%;
    
}

.centro{
    padding: 1%;
}

.orangetxt{
    background-color: #F56600;
    color: white;
    padding: 0.5%;
}

.centraltxt{
    background-image: url(/img/bg-image.png);
   background-size: contain;
   height: 290px;
}

.textimg{
    color: white;
    padding-top: 4%;
    font-size: 1.4em;
}

.mid{
    margin: 1%;
}